@import 'tailwindcss';

@theme {
  --color-ott-accent: #68a691;
  --color-ott-accent-light: #ecfff9;
  --color-ott-text-primary: #2f2f2f;
  --color-ott-text-secondary: #a1a1a1;
  --color-ott-text-white: #ffffff;
  --color-ott-bg-primary: #ffffff;
  --color-ott-bg-secondary: #f3f3f3;
  --color-ott-bg-darkened: #f4f6f6;
  --color-ott-bg-dark: #d3d3d3;
  --color-ott-error: #cd3c3c;
  --background-image-logo: url('https://s3.k8s.xatellite.space/ott-themes/ott_white.svg');
  --spacing-logo-height: 64px;
  --spacing-logo-width: 64px;
  --shadow-even: 0px 0px 4px 0px #00000040;
}

html,
body,
#app {
  @apply h-full w-full bg-ott-bg-secondary text-ott-text-primary;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  @apply cursor-pointer;
}

h1 {
  @apply text-xl font-bold;
}

h2 {
  @apply text-lg font-medium my-4;
}

main {
  @apply block h-full w-full max-h-screen overflow-auto;
}

.ott-button {
  @apply text-ott-text-primary font-medium px-4 py-1 h-fit flex items-center justify-center gap-5 rounded-lg border-ott-text-primary border cursor-pointer hover:bg-ott-bg-secondary transition-colors;
}

.ott-button:disabled {
  @apply border-ott-bg-dark text-ott-bg-dark cursor-default;
}

.ott-button--accent {
  @apply bg-ott-accent border-ott-accent text-ott-text-white font-medium px-4 py-1 h-fit flex items-center gap-5 rounded-lg cursor-pointer disabled:bg-ott-text-secondary disabled:cursor-default;
}

input, .ott-input {
  @apply border border-ott-bg-dark rounded py-1 px-3 bg-white text-sm focus:outline-none focus:border-ott-accent;
}

/* Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-ott-bg-dark rounded-full;
}

/* Toolbox */
.ott-tool-btn {
  @apply flex items-center gap-3 w-full p-2 px-3 rounded-md border border-transparent transition-all;
  @apply hover:bg-ott-bg-secondary cursor-pointer font-medium text-sm;
}

.ott-tool-btn.active {
  @apply bg-ott-accent-light border-ott-accent text-ott-accent;
}

.ott-sub-tool-btn {
  @apply p-1 px-3 rounded-full border border-ott-bg-dark text-xs transition-all cursor-pointer;
  @apply hover:bg-white hover:border-ott-accent hover:text-ott-accent bg-ott-bg-secondary;
}

.ott-sub-tool-btn.active {
  @apply bg-ott-accent border-ott-accent text-white;
}

/* Annotate Page & Expandable Items */
.ott-section-header {
  @apply text-xs font-bold text-ott-text-secondary uppercase mb-4 tracking-wider border-b border-ott-bg-dark pb-1;
}

.ott-expandable-item {
  @apply border border-ott-bg-dark rounded-lg bg-ott-bg-primary overflow-hidden transition-all;
}

.ott-item-header {
  @apply flex items-center gap-3 p-3 px-4 cursor-pointer hover:bg-ott-bg-secondary transition-colors;
}

.ott-item-header.active {
  @apply border-b border-ott-bg-dark bg-ott-bg-secondary;
}

.ott-item-content {
  @apply bg-white;
}
